<template>
  <div id="app">
    <header-comp />
    <main>
      <router-view></router-view>
    </main>  
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HeaderComp from "./components/header/HeaderComp.vue";

@Component({
  components: {
    HeaderComp,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss"></style>
